In [20]:
print("hello world")

hello world

In [21]:
#this is a comment

In [ ]:
a=10

In [22]:
print(a)

4

In [4]:
b=50

In [5]:
print(b)

50

In [6]:
id(b)

1931118224

In [7]:
a=50

In [8]:
id(a)

1931118224

In [9]:
b=b+1

In [10]:
print(b)

51

In [11]:
a=10.5
print(type(a))

<class 'float'>

In [12]:
a='hi'

In [13]:
print(type(a))

<class 'str'>

In [14]:
a=5j

In [15]:
print(type(a))

<class 'complex'>

In [16]:
_a=5

In [17]:
_a

5

In [18]:
first_name="sanya"
last_name="nanda"

In [21]:
print("ms.{} {} ".format(last_name,first_name))

ms.nanda sanya

In [23]:
print("this","is","summer","training",sep=",",end=",")

this,is,summer,training,

In [23]:
print("this" "is")

thisis

In [5]:
r=int(input())

5

In [6]:
area=3.14*r**2

In [7]:
print(area)

78.5

In [8]:
a=6.7/3

In [9]:
a

2.2333333333333334

In [ ]:
_a

In [ ]:
a=5
b=10

In [ ]:
print(a=b)

In [24]:
true or false

NameError: name 'true' is not defined

In [ ]:
r=input()

In [12]:
a=6

In [27]:
if a>4:
 print("a>4")
 print("a is a bigger number"):
     else a<4:
        print("a is a number greater than zero")

SyntaxError: invalid syntax (<ipython-input-27-456aef40ec10>, line 3)

In [19]:
if a>4:
    if a<10:
        print("a")

a

In [20]:
a=10

In [ ]:
while a>0:
    print(a)
    a=a-1

In [23]:
for i in "sanya":
    print(i)

s
a
n
y
a

In [27]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [29]:
for i in range(2,9,2):
    print(i)

2
4
6
8

In [34]:
for i in range(0,11):
    for j in range(0,11):
        print(i*j)

0
0
0
0
0
0
0
0
0
0
0
0
1
2
3
4
5
6
7
8
9
10
0
2
4
6
8
10
12
14
16
18
20
0
3
6
9
12
15
18
21
24
27
30
0
4
8
12
16
20
24
28
32
36
40
0
5
10
15
20
25
30
35
40
45
50
0
6
12
18
24
30
36
42
48
54
60
0
7
14
21
28
35
42
49
56
63
70
0
8
16
24
32
40
48
56
64
72
80
0
9
18
27
36
45
54
63
72
81
90
0
10
20
30
40
50
60
70
80
90
100

In [17]:
a=int(input())

4

In [19]:
for i in range(1,4):
    print(" "*(4-i),"*"*(2*i-1))

    *
   ***
  *****

In [11]:
for i in "*":
    for j in "5":
         print(i*j)

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
for i in range(1,5):
    print("*"*5)

*****
*****
*****
*****

In [11]:
for i in range(1,5):
    print(" "*(i-1),"a"*1)

 a
  a
   a
    a

In [209]:
for i in range(1,5):
    for j in range(1,5):
        print(" "*(i-1),"*"*j,end=" ")
    print()

 *  **  ***  ****
  *   **   ***   ****
   *    **    ***    ****
    *     **     ***     ****

In [36]:
for j in "sanya":
    print(j*5)

sssss
aaaaa
nnnnn
yyyyy
aaaaa

In [39]:
for i in "55555":
    print(i*5)

55555
55555
55555
55555
55555

In [40]:
for i in range(1,5):
    for j in range(1,5):
        print(5)

5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5

In [42]:
for i in range(1,5):
    print(i**5)

1
32
243
1024

In [210]:
for i in range(1,5):
    for j in range(1,5):
        print("*"*i,end=" ")
    print()

* * * *
** ** ** **
*** *** *** ***
**** **** **** ****

In [51]:
for i in range(1,5):
    print("*"*i," "*(i-1))

*
**
***
****

In [57]:
for i in range(1,6):
    print("5"*(i),"4"*(i-2),"3"*(i-3))

5
55
555 4
5555 44 3
55555 444 33

In [14]:
n=int(input())

4

In [15]:
if n%2==1:
    print("weird")
elif n%2==0:
    if n in range(2,6):
        print("not weird")
    elif n in range(6,21):
        print("weird")
    elif n in range(21,100):
        print("not weird")
else:
    print("enter a number between 1 to 100")

not weird

In [25]:

    for i in range(1,5):
    for j in range(1,5):
        print(min(n-i),min(n-j))

SyntaxError: invalid syntax (<ipython-input-25-864891a899e6>, line 1)

In [37]:
n=int(input())

6

In [38]:
for i in range(0,n):
    for j in range(0,n):
        print(max(i+1,j+1,n-i,n-j),end=" ")
    print()

6 6 6 6 6 6
6 5 5 5 5 6
6 5 4 4 5 6
6 5 4 4 5 6
6 5 5 5 5 6
6 6 6 6 6 6

In [211]:
for i in range(0,n):
    for j in range(0,n):
        print(min(i+1,j+1,n-i-1,n-j-1),end=" ")
    print()

1 1 1 1 1 0
1 2 2 2 1 0
1 2 3 2 1 0
1 2 2 2 1 0
1 1 1 1 1 0
0 0 0 0 0 0

In [212]:
for i in range(0,n):
    for j in range(0,n):
        print(min(n-i,n-j,i+1,j+1),end=" ")
    print()

1 1 1 1 1 1
1 2 2 2 2 1
1 2 3 3 2 1
1 2 3 3 2 1
1 2 2 2 2 1
1 1 1 1 1 1

In [48]:
for i in range(0,10):
    if i==5:
        pass
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [53]:
a=20
b=40
c=a
a=b
b=c

In [54]:
a,b

(40, 20)

In [70]:
a=5
b=6

In [71]:
a,b = b,a

In [72]:
a,b

(6, 5)

In [65]:
a=1.4+1.2+1.6

In [66]:
a

4.199999999999999

In [73]:
a="bipin"

In [75]:
a="jatin"

In [76]:
a

'jatin'

In [77]:
a[2]

't'

In [78]:
b="   this is summer training      in DTU     "

In [80]:
print(b.strip())

this is summer training      in DTU

In [81]:
b="this is a summer training in dtu"

In [82]:
c=b.split()

In [83]:
c

['this', 'is', 'a', 'summer', 'training', 'in', 'dtu']

In [84]:
a="my name is sanya"

In [85]:
b=a.split()

In [86]:
b

['my', 'name', 'is', 'sanya']

In [87]:
b=a.()

AttributeError: 'str' object has no attribute 'reverse'

In [89]:
len(a)

16

In [92]:
a="sanya" + "nanda"

In [93]:
a

'sanyananda'

In [94]:
a="my name is sanya"

In [95]:
b=a.split()

In [96]:
b

['my', 'name', 'is', 'sanya']

In [101]:
for i in range a:
    print(i)

SyntaxError: invalid syntax (<ipython-input-101-66997af945d2>, line 1)

In [124]:
a="sanyananda"

In [117]:
b=a[::-1]

In [118]:
if b==a:
    print("it is a palindrome")
else:
    print("not a palindrome")

not a palindrome

In [125]:
a[-4]

'a'

In [120]:
a[::]

'sanyananda'

In [126]:
a=[1,2,3,4]

In [127]:
print(type(a))

<class 'list'>

In [128]:
print(id(a))

1505224893832

In [130]:
print(id(a[0]))

1688764528

In [131]:
for i in a:
    print(i)

1
2
3
4

In [132]:
a[3] = 78

In [133]:
a

[1, 2, 3, 78]

In [134]:
a[1:3]

[2, 3]

In [135]:
a[-1]

78

In [136]:
b=[1,2,67,"coding",[1,2,3],(45)]

In [137]:
for i in b:
    print(i)

1
2
67
coding
[1, 2, 3]
45

In [138]:
a=[1,2,3,4]

In [139]:
a.append(45)

In [140]:
a

[1, 2, 3, 4, 45]

In [141]:
a.insert(2,5)

In [142]:
a

[1, 2, 5, 3, 4, 45]

In [143]:
a=[2,3,4] +[3,4,5]

In [144]:
a

[2, 3, 4, 3, 4, 5]

In [147]:
a.remove(5)

In [148]:
a

[2, 3, 4, 3, 4]

In [149]:
a.pop()

4

In [150]:
a

[2, 3, 4, 3]

In [151]:
del b

In [152]:
b

NameError: name 'b' is not defined

In [153]:
a=[1,2,3,4]

In [154]:
a.sort()

In [155]:
a

[1, 2, 3, 4]

In [156]:
a.reverse()

In [157]:
a

[4, 3, 2, 1]

In [162]:
a=[3,4,2,6,9,7,8,0,89,12]

In [159]:
a.sort()

In [164]:
a

[3, 4, 2, 6, 9, 7, 8, 0, 89, 12]

In [163]:
sorted(a)

[0, 2, 3, 4, 6, 7, 8, 9, 12, 89]

In [165]:
a=("sanya","anishka","pia")

In [166]:
a[0]="sanya123"

TypeError: 'tuple' object does not support item assignment

In [167]:
a=[2,4,3,5,6]

In [168]:
a=tuple(a)

In [169]:
a

(2, 4, 3, 5, 6)

In [170]:
type(a)

tuple

In [171]:
b=(3,4,5,6)

In [172]:
b=list(b)

In [173]:
type(b)

list

In [213]:
b=(1,2,3,[2,3,4],"sanya",("x","yashk"))

In [214]:
b[-1][1][4]

'k'

In [181]:
a={4,3,2,6,5,31,1,1,5,7,6}

In [182]:
b=sorted(set(a))[-2]

In [183]:
b

7

In [184]:
a={1,2,3,4}

In [185]:
b={3,4,5,6}

In [186]:
a.intersection(b)

{3, 4}

In [187]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [188]:
a-b

{1, 2}

In [217]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end="  ")
    print()

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

In [195]:
a=["b","i","p","i","n"]

In [196]:
"".join(a)

'bipin'

In [219]:
a=["1","2","3","4","5","6","7","8","9","10"]

In [220]:
"".join(a)

'12345678910'

In [207]:
print([[i*j for j in range(1,11)] for i in range(1,11)])

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [221]:
a=input(list())

[]1,2,3,[2,1],hi,bye,xyz123

In [227]:
print(type(a))

<class 'str'>

In [228]:
b=input()

1,2,3,4

In [229]:
b=tuple(b)

In [230]:
type(b)

tuple

In [233]:
l=[]
n=int(input("number of elements:"))
for i in range (n):
    num=int(input("enter here:"))
    l.append(num)
print(l)

number of elements:4
enter here:1
enter here:2
enter here:3
enter here:4
[1, 2, 3, 4]

In [236]:
symbol=input("choose X or 0:")

choose X or 0:X

In [237]:
symbol=tuple(symbol)

In [ ]:
list=[]
for i in range(9):
        x=int(input("choose a number from 0 to 8:"))
        num=symbol
        list.insert(x,num)
print(list)

In [1]:
row=[" "]*3

In [2]:
row

[' ', ' ', ' ']

In [3]:
board=[row]*3

board

In [4]:
board

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [5]:
board[0][0]="x"

In [6]:
board

[['x', ' ', ' '], ['x', ' ', ' '], ['x', ' ', ' ']]

In [7]:
row=(" ")*3

In [8]:
row

'   '

In [9]:
row=(" "," "," ")

In [10]:
row

(' ', ' ', ' ')

In [15]:
board=(row,row,row)

In [16]:
board

((' ', ' ', ' '), (' ', ' ', ' '), (' ', ' ', ' '))

In [17]:
board[0][0]="x"

TypeError: 'tuple' object does not support item assignment

In [18]:
a=[4,5,6]

In [19]:
b=a.copy()

In [20]:
id(a)==id(b)

False

In [22]:
1.4+1.6+1.2

4.2

In [23]:
a={
    "name":"sanya",
    "age":18,
    "gender":"female"
}

In [24]:
a

{'name': 'sanya', 'age': 18, 'gender': 'female'}

In [25]:
a={
    "name":"sanya",
    (1,2,3):["math","physics","chem"],
    "dict": {
        "1":"one",
        "2":"two"
    }
}

In [26]:
a

{'name': 'sanya',
 (1, 2, 3): ['math', 'physics', 'chem'],
 'dict': {'1': 'one', '2': 'two'}}

In [27]:
a["name"]

'sanya'

In [28]:
a[(1,2,3)]

['math', 'physics', 'chem']

In [29]:
a[(1,2,3)][0]

'math'

In [30]:
a.get("name")

'sanya'

In [31]:
a.items()

dict_items([('name', 'sanya'), ((1, 2, 3), ['math', 'physics', 'chem']), ('dict', {'1': 'one', '2': 'two'})])

In [32]:
for i in a.items():
    print(i)

('name', 'sanya')
((1, 2, 3), ['math', 'physics', 'chem'])
('dict', {'1': 'one', '2': 'two'})

In [35]:
for i in a.values():
    print(i)

sanya
['math', 'physics', 'chem']
{'1': 'one', '2': 'two'}

In [37]:
for i in a.keys():
    print(i)

name
(1, 2, 3)
dict

In [38]:
b={
    "name":"sana",
    "gender":"female"
}

In [44]:
for key,value in b.items():
    print(key +" points to "+ value)

name points to sana
gender points to female

In [45]:
b["age"]=[1,2,3]

In [46]:
b

{'name': 'sana', 'gender': 'female', 'age': [1, 2, 3]}

In [47]:
b["age"]="hi"

In [48]:
b

{'name': 'sana', 'gender': 'female', 'age': 'hi'}

In [49]:
key=input()

color

In [50]:
a[key]=input()

red

In [51]:
a

{'name': 'sanya',
 (1, 2, 3): ['math', 'physics', 'chem'],
 'dict': {'1': 'one', '2': 'two'},
 'color': 'red'}

In [52]:
a[input()]=input()

black
hair

In [53]:
a

{'name': 'sanya',
 (1, 2, 3): ['math', 'physics', 'chem'],
 'dict': {'1': 'one', '2': 'two'},
 'color': 'red',
 'hair': 'black'}

In [54]:
import math?

Object `math` not found.

In [ ]:
import math

In [55]:
def func():
    print("hi,world!")

In [56]:
func()

hi,world!

In [57]:
#sheldon knock
print("knock knock knock penny!")
print("knock knock knock penny!")
print("knock knock knock penny!")

print(10+15)
print("hi there!")

print("knock knock knock penny!")
print("knock knock knock penny!")
print("knock knock knock penny!")

knock knock knock penny!
knock knock knock penny!
knock knock knock penny!
25
hi there!
knock knock knock penny!
knock knock knock penny!
knock knock knock penny!

In [63]:
def sheldon_knock(name = "penny"):
    print("knock knock knock {}!".format(name))
    print("knock knock knock {}!".format(name))
    print("knock knock knock {}!".format(name))

In [64]:
sheldon_knock("sanya")

knock knock knock sanya!
knock knock knock sanya!
knock knock knock sanya!

In [65]:
def addfunc(a,b,c):
    print(a+b+c)

In [69]:
addfunc(a=20,c=10,b=2)

32

In [70]:
def some_cool_func(a,b, *args):
    for i in args:
        print(i)
    print(args)
    print(type(args))

In [72]:
some_cool_func("sana","hi","bye","yo")

bye
yo
('bye', 'yo')
<class 'tuple'>

In [75]:
def some_func(a,b,*args,**kwargs):
    print(args)
    print(kwargs)
    print(type(kwargs))
    
    print()
    
    for i in kwargs.items():
        print(i)

In [76]:
some_func("hi","yo","bye",d="something",c="else")

('bye',)
{'d': 'something', 'c': 'else'}
<class 'dict'>

('d', 'something')
('c', 'else')

In [77]:
x=addfunc(10,10,10)

30

In [78]:
print(x)

None

In [79]:
def returningadd(a,b,c):
    return a+b+c

In [80]:
a=returningadd(10,10,10)

In [81]:
a

30

In [88]:
def returningaddmul(a,b,c):
    print(a+b+c)
    print(a*b*c)
    return a+b+c,a*b*c,"yeah"

In [89]:
a,b,c= returningaddmul(10,10,10)

30
1000

In [85]:
a

30

In [86]:
b

1000

In [90]:
c

'yeah'

In [93]:
x=10

def somefunc1():
    global x
    x += 10
    print(x)

In [94]:
somefunc1()

20

In [95]:
def outer():
    x=15
    
    def inner():
        nonlocal x #nonlocal keyword is used toaccess variable in your parent blocks'scope
        x += 5
        print(x)
        
    inner()
    print(x)

In [96]:
outer()

20
20

In [97]:
def add(a,b):
    return a+b

In [98]:
add=lambda a, b :a + b

In [99]:
add(5,10)

15

In [7]:
a=[("abhinav",89),("sanya",50),("pia",25),("mukul",36)]

In [101]:
sorted(a)

[('abhinav', 89), ('mukul', 36), ('pia', 25), ('sanya', 50)]

In [102]:
sorted(a,key = lambda x: x[1])

[('pia', 25), ('mukul', 36), ('sanya', 50), ('abhinav', 89)]

In [12]:
def func(x):
    return x[1]

In [13]:
sorted(a,key=func)

[('pia', 25), ('mukul', 36), ('sanya', 50), ('abhinav', 89)]

In [2]:
n=int(input())

3

In [6]:
for d in range (n):
    d={
        "name": input(" write your name "),
        "gender": input(" specify gender "),
        "age": input(" specify age ")
    }
    print(d)
print()

 write your name sanya
 specify gender female
 specify age 18
{'name': 'sanya', 'gender': 'female', 'age': '18'}
 write your name satvik
 specify gender male
 specify age 15
{'name': 'satvik', 'gender': 'male', 'age': '15'}
 write your name pia
 specify gender female
 specify age 18
{'name': 'pia', 'gender': 'female', 'age': '18'}

In [14]:
class person:
    pass

p= person()
print(p)

<__main__.person object at 0x0000013EA10F2D30>

In [15]:
import math

In [28]:
math.factorial(5

120

In [ ]:
d={
    "science":int(input()),
    "math":int(input())
    
}

In [43]:
class student:
    def __init__(self, name, rollno, marks)
        self.name=name
        self.rollno=rollno
        self.marks=marks
        
    def add_rollno(self, rollno):
        self.rollno.add(rollno)
    
    def add_marks(**kwargs):
        add_marks(science=int(input()),math=int(input()))
        self.marks.add(marks)

In [44]:
s1= student("sanya")
s1.add_rollno(5)
print(s1.rollno)

TypeError: __init__() missing 2 required positional arguments: 'rollno' and 'marks'

In [35]:
print(student1)

('sanya', 15, 25, 50)

In [24]:
student2=("pia",12)

In [25]:
print(student2)

('pia', 12)

In [3]:
def some_func(**kwargs):
    print(kwargs)

In [5]:
some_func(b='hi',c='bye')

{'b': 'hi', 'c': 'bye'}

In [6]:
n=int(input())

3

In [9]:
i=dict()
some_func(i[input()]:[int(input())])

SyntaxError: invalid syntax (<ipython-input-9-28468d58a982>, line 2)